nav.menu {
    background-color: var(--bg-menu);
    text-align: right;
    padding-top:14px;
}
.menu a{

    text-decoration: none;
    color: #000;
    font-size: 21px;
    padding: 5px;
  
}

.menu a:hover {
    color: #538cc6;
}